<%= form_with model: post do |form| %>
  <div>
    <%= form.label :title, class: "col-form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :category, class: "col-form-label" %><br>
    <%= form.select :category_id, Category.all.map { |c| [c.title, c.id] }, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, class: "col-form-label" %><br>
    <%= form.text_area :description, class: "form-control" %><br>
  </div>

  <div>
    <%= form.label :author, class: "col-form-label" %><br>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <br>
  <div>
    <%= form.submit :Create, class: "btn btn-dark" %>
  </div>
<% end %>
