<h1><%= @post.title %></h1>

<h6>Category: <%= @post.category.title %></h6>

<h6>Author: <%= @post.author %></h6>

<h6>Description:</h6>

<p><%= @post.description %></p>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post), class: "text-decoration-none" %><br></li>
  <li><%= link_to "Back", posts_path, class: "text-decoration-none" %><br></li>
  <li><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none" %>
    <br></li>
</ul>
