<h1><%= @category.title %></h1>

<h6>Type: <%= @category.category_type %></h6>

<h6>Description:</h6>

<p><%= @category.description %></p>

<ul>
  <li><%= link_to "Edit", edit_category_path(@category) %><br></li>
  <li><%= link_to "Back", categories_path %><br></li>
  <li><%= button_to 'Destroy',  @category,  method: :delete %><br></li>
</ul>
